<a href="https://colab.research.google.com/github/jmadkour/Bases-de-Python/blob/main/3.2-M%C3%A9thodes%20appliqu%C3%A9es%20aux%20listes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Méthodes appliquées aux listes**
Une **méthode** est une **action** que l'on peut effectuer sur une **liste**:
* **copy**
* **count**
* **index**
* **append**
* **extend**
* **insert**
* **remove**
* **sort**
* **reverse**
* **pop**
* **clear**

In [ ]:
nombres = [1 , 5 , 5 , 7 , 4 , 3]
nombres

[1, 5, 5, 7, 4, 3]

In [ ]:
animaux = ['chat' , 'chien' , 'vache' , 'mouton' , 'chèvre']
animaux

['chat', 'chien', 'vache', 'mouton', 'chèvre']

####**copy**: créer une copie d'une liste

In [ ]:
print(nombres)
copie_nombres = nombres.copy()
copie_nombres

[1, 5, 5, 7, 4, 3]

[1, 5, 5, 7, 4, 3]

In [ ]:
print(animaux)
copie_animaux = animaux.copy()
copie_animaux

['chat', 'chien', 'vache', 'mouton', 'chèvre']

['chat', 'chien', 'vache', 'mouton', 'chèvre']

####**count**: compter le nombre d'apparation d'un élément dans une liste

In [ ]:
print(nombres)
nombres.count(8)

[1, 5, 5, 7, 4, 3]

0

In [ ]:
print(animaux)
animaux.count('lion')

['chat', 'chien', 'vache', 'mouton', 'chèvre']

0

####**index**: localiser un élément dans une liste par son index

In [ ]:
print(nombres)
nombres.index(3)

[1, 5, 5, 7, 4, 3]

5

In [ ]:
print(animaux)
animaux.index('mouton')

['chat', 'chien', 'vache', 'mouton', 'chèvre']

3

####**append**: ajouter un élément à la fin d'une liste

In [ ]:
print(nombres)
nombres.append(99)
nombres

[1, 5, 5, 7, 4, 3, 99, 99, 99]

[1, 5, 5, 7, 4, 3, 99, 99, 99, 99]

In [ ]:
print(animaux)
animaux.append('cheval')
animaux

['chat', 'chien', 'vache', 'mouton', 'chèvre']

['chat', 'chien', 'vache', 'mouton', 'chèvre', 'cheval']

####**extend**: ajouter une liste à la fin d'une liste

In [ ]:
print(animaux)
animaux.extend(nombres)
animaux

['chat', 'chien', 'vache', 'mouton', 'chèvre']

['chat', 'chien', 'vache', 'mouton', 'chèvre', 1, 5, 5, 7, 4, 3]

####**insert**: insérer un nouvel élément à un endroit précis d'une liste

In [ ]:
print(nombres)
nombres.insert(4,88)
nombres

[1, 5, 5, 7, 4, 3]

[1, 5, 5, 7, 88, 4, 3]

In [ ]:
animaux = ['chat' , 'chien' , 'vache' , 'mouton' , 'chèvre']
print(animaux)
animaux.insert(4, 'lion')
animaux

['chat', 'chien', 'vache', 'mouton', 'chèvre']

['chat', 'chien', 'vache', 'mouton', 'lion', 'chèvre']

####**remove**: supprimer un élément d'une liste

In [ ]:
print(nombres)
nombres.remove(5)
nombres

[1, 5, 5, 7, 88, 4, 3]

[1, 5, 7, 88, 4, 3]

In [ ]:
print(animaux)
animaux.remove('chèvre')
animaux

['chat', 'chien', 'vache', 'mouton', 'lion', 'chèvre']

['chat', 'chien', 'vache', 'mouton', 'lion']

####**pop**: supprimer l'élément d'une liste ayant un index donné puis le retourner

In [ ]:
print(nombres)
nombres_supprimes = nombres.pop(2)
print(nombres)
nombres_supprimes

[1, 5, 88, 4, 3]
[1, 5, 4, 3]

88

In [ ]:
print(animaux)
animaux_supprimes = animaux.pop(2)
print(animaux)
animaux_supprimes

['vache', 'mouton', 'lion', 'chien', 'chat']
['vache', 'mouton', 'chien', 'chat']

'lion'

####**sort**: trier les éléments d'une liste

In [ ]:
# Trier dans un sens croissant
print(nombres)
nombres.sort() 
nombres

[1, 5, 4, 3]

[1, 3, 4, 5]

In [ ]:
# Trier dans un sens décroissant
print(nombres)
nombres.sort(reverse=True) 
nombres

[1, 3, 4, 5]

[5, 4, 3, 1]

In [ ]:
# Trier dans un sens alphabétique
print(animaux)
animaux.sort() 
animaux

['chat', 'chien', 'lion', 'mouton', 'vache']

['chat', 'chien', 'lion', 'mouton', 'vache']

In [ ]:
# Trier dans un sens anti-alphabétique
print(animaux)
animaux.sort(reverse=True) 
animaux

['chat', 'chien', 'lion', 'mouton', 'vache']

['vache', 'mouton', 'lion', 'chien', 'chat']

####**reverse**: inverser l'ordre d'une liste

In [ ]:
print(animaux)
animaux.reverse()
animaux

['chat', 'chien', 'vache', 'mouton', 'lion', 'chèvre']

['chèvre', 'lion', 'mouton', 'vache', 'chien', 'chat']

####**clear**: effacer le contenu d'une liste

In [ ]:
print(nombres)
nombres.clear()
nombres

[5, 4, 3, 1]

[]

In [ ]:
print(animaux)
animaux.clear()
animaux

[]

[]

### **Exercice:**
1. Générer 100 nombres aléatoires compris entre 0 et 20 (notes d'étudiants dans un module)
2. Etablir la liste des notes supérieures ou égales à 10 (notes des étudiants ayant validé le mdule) et la liste des notes strictement inférieures à 10 (notes des étudiants n'ayant pas validé le module)

**Etape 1:**
Générer des nombres aléatoires:
1. On importe le module numpy: **import numpy as np**
2. On fixe la valeur de la graine (à 0 par exemple): **np.random.seed(0)**
3. Utiliser la fonction **randint** pour générer des nombres aléatoires ([cliquer ici pour accéder à la documentation](https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html#numpy-random-randint))

In [ ]:
import numpy as np
np.random.seed(0) # nombres pseudo-aléatoires (Théorème fondamental de la statistique)
notes = np.random.randint(low=0, high=20, size=100, dtype=int)
notes

array([12, 15,  0,  3,  3,  7,  9, 19, 18,  4,  6, 12,  1,  6,  7, 14, 17,
        5, 13,  8,  9, 19, 16, 19,  5, 15, 15,  0, 18,  3, 17, 19, 19, 19,
       14,  7,  0,  1,  9,  0, 10,  3, 11, 18,  2,  0,  0,  4,  5,  6,  8,
       17, 15,  4,  9, 10,  1,  1,  7,  9,  3,  6, 11, 14, 18,  0, 14,  3,
       12, 10, 11,  4,  6,  4, 15,  3, 12,  4,  8, 14, 15,  3, 15, 13, 16,
       17,  5,  9,  3,  0,  5,  0, 17, 18,  4,  2, 16,  3,  2, 10])

**Etape 2:** Créer 2 listes vides:
* **valide** pour collecter les notes des étudiants ayant validé le module
* **non_valide** pour collecter les notes des étudiants n'ayant pas validé le module

In [ ]:
valide = []
non_valide = []

In [ ]:
valide

[]

In [ ]:
non_valide

[]

**Etape 3**: A l'aide de boucle for, de test condtionnel if / elif / else et des méthodes des listes:
* Affecter les notes qui sont supérieures ou égales à 10 à la liste **valide**
* Affecter les notes qui sont strictement inférieures à 10 à la liste **non_valide**

In [ ]:
"""
valide = []
valide = [12]
valide = [13,12]
valide = [17,13,12]
"""

In [ ]:
valide

[10,
 16,
 18,
 17,
 17,
 16,
 13,
 15,
 15,
 14,
 12,
 15,
 11,
 10,
 12,
 14,
 18,
 14,
 11,
 10,
 15,
 17,
 18,
 11,
 10,
 14,
 19,
 19,
 19,
 17,
 18,
 15,
 15,
 19,
 16,
 19,
 13,
 17,
 14,
 12,
 18,
 19,
 15,
 12]

In [ ]:
non_valide

[2,
 3,
 2,
 4,
 0,
 5,
 0,
 3,
 9,
 5,
 3,
 8,
 4,
 3,
 4,
 6,
 4,
 3,
 0,
 6,
 3,
 9,
 7,
 1,
 1,
 9,
 4,
 8,
 6,
 5,
 4,
 0,
 0,
 2,
 3,
 0,
 9,
 1,
 0,
 7,
 3,
 0,
 5,
 9,
 8,
 5,
 7,
 6,
 1,
 6,
 4,
 9,
 7,
 3,
 3,
 0]

In [ ]:
valide = []
non_valide = []
for i in range(100): # range(100) = [0, 1, 2,...., 100[
    if notes[i] >= 10:
      valide.append( notes[i] )
    else:
      non_valide.append( notes[i] )

In [ ]:
valide

[12,
 15,
 19,
 18,
 12,
 14,
 17,
 13,
 19,
 16,
 19,
 15,
 15,
 18,
 17,
 19,
 19,
 19,
 14,
 10,
 11,
 18,
 17,
 15,
 10,
 11,
 14,
 18,
 14,
 12,
 10,
 11,
 15,
 12,
 14,
 15,
 15,
 13,
 16,
 17,
 17,
 18,
 16,
 10]

In [ ]:
non_valide

[0,
 3,
 3,
 7,
 9,
 4,
 6,
 1,
 6,
 7,
 5,
 8,
 9,
 5,
 0,
 3,
 7,
 0,
 1,
 9,
 0,
 3,
 2,
 0,
 0,
 4,
 5,
 6,
 8,
 4,
 9,
 1,
 1,
 7,
 9,
 3,
 6,
 0,
 3,
 4,
 6,
 4,
 3,
 4,
 8,
 3,
 5,
 9,
 3,
 0,
 5,
 0,
 4,
 2,
 3,
 2]

In [ ]:
valide = []
non_valide = []
for i in range(len(notes)): # range(100) = [0, 1, 2,...., 100[
    if notes[i] >= 10:
      valide.append( notes[i] )
    else:
      non_valide.append( notes[i] )

In [ ]:
valide

[12,
 15,
 19,
 18,
 12,
 14,
 17,
 13,
 19,
 16,
 19,
 15,
 15,
 18,
 17,
 19,
 19,
 19,
 14,
 10,
 11,
 18,
 17,
 15,
 10,
 11,
 14,
 18,
 14,
 12,
 10,
 11,
 15,
 12,
 14,
 15,
 15,
 13,
 16,
 17,
 17,
 18,
 16,
 10]

In [ ]:
non_valide

[0,
 3,
 3,
 7,
 9,
 4,
 6,
 1,
 6,
 7,
 5,
 8,
 9,
 5,
 0,
 3,
 7,
 0,
 1,
 9,
 0,
 3,
 2,
 0,
 0,
 4,
 5,
 6,
 8,
 4,
 9,
 1,
 1,
 7,
 9,
 3,
 6,
 0,
 3,
 4,
 6,
 4,
 3,
 4,
 8,
 3,
 5,
 9,
 3,
 0,
 5,
 0,
 4,
 2,
 3,
 2]

In [ ]:
valide = []
non_valide = []
for i in notes: # notes = [0 , 12 , 15 , 6, 8 ]
    if i >= 10:
      valide.append( i )
    else:
      non_valide.append( i )

In [ ]:
valide

[12,
 15,
 19,
 18,
 12,
 14,
 17,
 13,
 19,
 16,
 19,
 15,
 15,
 18,
 17,
 19,
 19,
 19,
 14,
 10,
 11,
 18,
 17,
 15,
 10,
 11,
 14,
 18,
 14,
 12,
 10,
 11,
 15,
 12,
 14,
 15,
 15,
 13,
 16,
 17,
 17,
 18,
 16,
 10]

In [ ]:
non_valide

[0,
 3,
 3,
 7,
 9,
 4,
 6,
 1,
 6,
 7,
 5,
 8,
 9,
 5,
 0,
 3,
 7,
 0,
 1,
 9,
 0,
 3,
 2,
 0,
 0,
 4,
 5,
 6,
 8,
 4,
 9,
 1,
 1,
 7,
 9,
 3,
 6,
 0,
 3,
 4,
 6,
 4,
 3,
 4,
 8,
 3,
 5,
 9,
 3,
 0,
 5,
 0,
 4,
 2,
 3,
 2]