<a href="https://colab.research.google.com/github/jmadkour/Bases-de-Python/blob/main/5-List%2C%20Dictionary%20and%20Tuple%20Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **List, Dictionary and Tuple Comprehension**
Insesrion d'une boucle **For** à l'interieur d'une **liste** ou d'un **dictionnaire**, voire à l'intérieur d'un **tuple**. Cela présente 3 avantages:
* Economiser les lignes de code
* Gagner en temps d'exécution
* C'est plus professionnel, plus Python!

###**List comprehension**

Créer la liste des carrés des nombres entiers 0, 1,...,9.

**Méthode 1:** Passer par une boucle **for**

In [ ]:
# En utilisant les crochets []
liste_1 = [] 
for i in range(10):
  liste_1.append(i**2)
print(liste_1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# En utilisant la fonction list()
liste_1 = list()
for i in range(10):
  liste_1.append(i**2)
print(liste_1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Méthode 2:** List comprehension

In [ ]:
# En utilisant les crochets []
liste_2 = [ i**2 for i in range(10) ]
liste_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# En utilisant la fonction list()
liste_2 = list(i**2 for i in range(10))
liste_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**On peut même ajouter une condition**

In [ ]:
# En utilisant les crochets []
liste_3 = [ i**2 for i in range(10) if i < 5]
liste_3

[0, 1, 4, 9, 16]

In [ ]:
# En utilisant la fonction list()
liste_3 = list(i**2 for i in range(10) if i <5)
liste_3

[0, 1, 4, 9, 16]

###**Dictionary comprehension**

Créer un dictionnaire à partir d'une ou deux listes.

In [ ]:
personnes = ['Omar', 'Karim', 'Fatima','Leila']
ages = [24,23,25,15]

**Méthode 1:** Passer par une boucle **for**

In [ ]:
# En utilisant les accolades {} et enumerate()
dict_1 = {}
for index,personne in enumerate(personnes):
  dict_1[index] = personne

dict_1

{0: 'Omar', 1: 'Karim', 2: 'Fatima', 3: 'Leila'}

In [ ]:
# En utilisant la fonction dict() et enumerate()
dict_1 = dict()
for index,personne in enumerate(personnes):
  dict_1[index] = personne

dict_1

{0: 'Omar', 1: 'Karim', 2: 'Fatima', 3: 'Leila'}

In [ ]:
# En utilisant les accolades {} et zip()
dict_2 = {}
for personne,age in zip(personnes,ages):
  dict_2[personne] = age

dict_2

{'Omar': 24, 'Karim': 23, 'Fatima': 25, 'Leila': 15}

In [ ]:
# En utilisant la fonction dict() et zip()
dict_2 = dict()
for personne,age in zip(personnes,ages):
  dict_2[personne] = age

dict_2

{'Omar': 24, 'Karim': 23, 'Fatima': 25, 'Leila': 15}

**Méthode 2:** Dictionary comprehension

In [ ]:
# En utilisant les accolades {} et enumerate()
dict_3 = {index:personne for index,personne in enumerate(personnes)}
dict_3

{0: 'Omar', 1: 'Karim', 2: 'Fatima', 3: 'Leila'}

In [ ]:
# En utilisant la fonction dict() et enumerate()
dict_3 = dict( (index,personne) for (index,personne) in enumerate(personnes))
dict_3

{0: 'Omar', 1: 'Karim', 2: 'Fatima', 3: 'Leila'}

In [ ]:
# En utilisant les accolades {} et zip()
dict_4 = {prenom:age for prenom,age in zip(personnes,ages)}
dict_4

{'Omar': 24, 'Karim': 23, 'Fatima': 25, 'Leila': 15}

In [ ]:
# En utilisant la fonction dict() et zip() -> Attention: il faut fournir des tuples! à la boucle for
dict_4 = dict( (prenom,age) for (prenom,age) in zip(personnes,ages) )
dict_4

{'Omar': 24, 'Karim': 23, 'Fatima': 25, 'Leila': 15}

**On peut même ajouter une condition**

In [ ]:
# En utilisant les accolades {} et enumerate()
dict_5 = {index:personne for index,personne in enumerate(personnes) if index < 2}
dict_5

{0: 'Omar', 1: 'Karim'}

In [ ]:
# En utilisant la fonction dict() et zip() -> Attention: il faut fournir des tuples! à la boucle for
dict_5 = dict( (index,personne) for (index,personne) in enumerate(personnes) if index < 2)
dict_5

{0: 'Omar', 1: 'Karim'}

In [ ]:
# En utilisant les accolades {} et zip()
dict_6 = {prenom:age for prenom,age in zip(personnes,ages) if age < 24}
dict_6

{'Karim': 23, 'Leila': 15}

In [ ]:
# En utilisant la fonction dict() et zip() -> Attention: il faut fournir des tuples! à la boucle for
dict_6 = dict( (prenom,age) for (prenom,age) in zip(personnes,ages) if age < 24)
dict_6

{'Karim': 23, 'Leila': 15}

####**Tuple comprehension**

Créer le tuple des carrés des nombres entiers 0, 1,...,9.

**Méthode 1:** Passer par une boucle **for**

In [ ]:
# Impossible parce qu'un tuple est immuable!

**Méthode 2:** Tuple comprehension

In [ ]:
# En utilisant les parenthèses -> Impossible! cela produit un générateur
tuple_1 = (i**2 for i in range(10) )
tuple_1

In [ ]:
# En utilisant la fonction tuple() -> la seule possibilité
tuple_1 = tuple(i**2 for i in range(10))
tuple_1

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

**On peut même ajouter une condition**

In [ ]:
# En utilisant la fonction tuple()
tuple_2 = tuple(i**2 for i in range(10) if i < 5)
tuple_2

(0, 1, 4, 9, 16)